<h1>Marvellous Infosystems Reactive Form</h1>

<p>
  <a href="https://www.marvellousinfosystems.com">Marvellous Infosystems</a>
</p>

<form [formGroup]="userForm" (submit)="saveUser()">
  <label for="name">Name</label>
  <input formControlName="name" id="name" />
  <control-messages [control]="userForm.get('name')"></control-messages>

  <label for="email">Email</label>
  <input formControlName="email" id="email" />
  <control-messages [control]="userForm.get('email')"></control-messages>

  <label for="profile">Feedback</label>
  <textarea formControlName="profile" id="profile"></textarea>
  <control-messages [control]="userForm.get('profile')"></control-messages>

  <button type="submit" [disabled]="!userForm.valid">Submit Form</button>
</form>